:host {
  display: block;
  font-family: 'Arial', sans-serif; 
  background-color: #f0f9f8; 
  color: #141414; 
  padding: 20px; 
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px); 
  overflow: hidden; 
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f9f8;
  margin-bottom: 20px;
}

.app-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.main-content-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden; 
  gap: 20px;
}

.scrollable-content {
  flex-grow: 1;
  overflow-y: auto; 
  padding-right: 15px; 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Semaforo */
.sidebar-right {
  flex-shrink: 0;
  width: 280px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #222f3b; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(113, 26, 26, 0.2);
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
  text-align: center;
  margin-bottom: 15px; 
}

.chart-card h3,
.forecast-card h3,
.principal-contaminants-card h3,
.guidance-card h3,
.alerts-history-card h3 {
  text-align: center;
  margin-bottom: 15px; 
}

/* Estilo para las gráficas */
.chart-card canvas {
  max-height: 400px; 
  background-color: #ffffff;
}

.forecast-card canvas {
  max-height: 300px; 
  background-color: #ffffff;
}

.chart-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  gap: 15px;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.legend-color {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #555;
}

.legend-color.red { background-color: red; }
.legend-color.blue { background-color: blue; }
.legend-color.green { background-color: green; }
.legend-color.orange { background-color: orange; }


/* Principales contaminantes */
.contaminant-info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  margin-top: 15px;
}

.contaminant-info-item {
  background-color: #c6e564;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.contaminant-info-item .label {
  font-size: 0.9em;
  color: #141414;
  margin-bottom: 5px;
}

.contaminant-info-item .value {
  font-size: 1.5em;
  font-weight: bold;
}

/* Tablas */
table {
  width: 100%;
  margin-top: 15px;
  border-collapse: separate; 
  border-spacing: 0;
  border-radius: 8px; 
  overflow: hidden; 
}

th, td {
  border: .5px solid #cdcdcd;
  padding: 10px 15px;
  text-align: left;
  background-color: #ffffff; 
}

th {
  background-color: #036564;
  font-weight: bold;
  color: #ffffff
}

.traffic-light-container {
  position: relative;
  width: 180px; 
  height: 490px; 
  margin-bottom: 20px;
}


.light-bulb {
  position: absolute;
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  background-color: rgba(135, 135, 135, 0.7); 
  border: 2px solid #616161;
}


.light-bulb.red { top: 15%; left: 35%; }
.light-bulb.orange { top: 30%; left: 35%; }
.light-bulb.yellow { top: 45%; left: 35%; }
.light-bulb.green { top: 60%; left: 35%; }
.light-bulb.purple { top: 75%; left: 35%; }
.light-bulb.brown { top: 90%; left: 35%; }


.light-bulb.active-red { background-color: red; box-shadow: 0 0 15px red; }
.light-bulb.active-yellow { background-color: yellow; box-shadow: 0 0 15px yellow; }
.light-bulb.active-orange { background-color: orange; box-shadow: 0 0 15px orange; }
.light-bulb.active-green { background-color: green; box-shadow: 0 0 15px green; }
.light-bulb.active-purple { background-color: purple; box-shadow: 0 0 15px purple; }
.light-bulb.active-brown { background-color: brown; box-shadow: 0 0 15px brown; }


.message-box {
  background-color: #363946;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  margin-top: 30px;
  width: 87%;
}

.message-box #consejo {
  font-style: italic;
  margin-bottom: 10px;
  color: #ffffff;
}

.message-box #alerta {
  color: #ff4444; 
  font-weight: bold;
}

.color-verde { color: #60ae62; }
.color-amarillo { color: #ecd71f; }
.color-naranja { color: #fc9138; }
.color-rojo { color: #bc4c44; }
.color-purpura { color: #ae3bc2; }
.color-marron { color: #795548; }

.scrollable-content::-webkit-scrollbar {
  width: 10px;
}

.scrollable-content::-webkit-scrollbar-track {
  background: #d1d1d1;
  border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #777;
}


canvas {
  background-color: #3a3a3a;
  border-radius: 8px;
  padding: 10px;
}


.monthly-history-card {
  grid-column: span 2; 
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #141414; 
}

.monthly-history-card h3 {
  color: #141414;
  margin-bottom: 15px;
  font-size: 1.3em;
}

.monthly-history-card canvas {
  width: 100% !important;
  max-width: 700px; 
  height: 350px !important; 
  background-color: #ffffff; 
  border-radius: 8px; 
}

@media (max-width: 768px) {
  .monthly-history-card {
    grid-column: span 1; 
  }
}